.row
  .col-md-2
  .col-md-8
    %p.lead
      Tiny Robot Army is the site of Adam Boas. It mostly contains my thoughts on development and software engineering
      practices as well as some of my more generalised ramblings.
      %h3 about me:
      %p
        I have a long history in Web and Mobile Application Development. I have been working with teams using Agile
        practices since the very infancy of the Agile movement. Throughout this time I have delivered numerous applications,
        worked as a coach and mentor to teams under pressure, and helped these teams to increase their productivity and
        effectiveness.
      %p
        My current area of interest is in distributed systems and the teams structures and processes that facilitate
        developing and supporting such systems.

  .col-md-2
