.row
  .col-md-2
  .col-md-8
    %dl.dl-horizontal
      %dt email
      %dd= link_to 'adam@tinyrobotarmy.net', 'mailto:adam@tinyrobotarmy.net'
      %dt mobile
      %dd +61 457 741 117
      %dt skype
      %dd adam.boas
  .col-md-2
