<p class="lead">
  Tiny Robot Army is the Consulting, Contracting and Freelancing business of Adam Boas. Tiny Robot Army is available to 
  consult on architecture, design, development practices and team productivity. We are available to build web based
  applications and contract either independently or in existing teams.
<p>
<p>
  Adam has a long history in Web and Mobile Application Development. He has been working with teams using Agile 
  practices since the very infancy of the Agile movement. Throughout this time he has delivered numerous applications, 
  worked as a coach and mentor to teams under pressure, and helped these teams to increase their productivity and 
  effectiveness.
</p>
