
<%# link_to t('.new_post'), new_post_path %>
<ul id="posts" class="unstyled entries">
<% @posts.each do |post| %>
  <li>
    <h2><%= link_to post.subject, post_path(post) %></h2>
    <p>
      <%= raw post.body %>
    </p>
    <div class="footer">
      <span class="posted">
        <%= t '.author', {author: post.author.first_name, ago: time_ago_in_words(post.created_at)} %>
      </span>
      <div class="comments">
        <i class="icon-comments"></i> <span class="count"><%= t('.comments', count: post.comments.size) %></span>
      </div>
    </div>
  </li>
<% end -%>
</ul>