//= require bootstrap.min

@import "colours";
@import "bootstrap_overrides";
@import "message_box";
@import "posts";
@import "form";
@import "dropzone";
@import "wysiwyg";
@import "font-awesome";

body {
  position:relative;
  font-family: "Andale Mono", AndaleMono, monospace;
  // font-size: 1rem;
}

@media (min-width: 768px) and (orientation: landscape) {
  body {
    // font-size: 1.5em;
  }
}

.top-bar {
  height: 85px;
  width: 100%;
  background-color: $mid_grey;
  position: absolute;
  top: 0;
  left: 0;
}

img.logo {
  position: relative;
  margin-top: 15px;
  float: left;
}

.outer {
  margin-top: 30px;
}

nav {
  display:inline-block;
  margin-left: 50px;
  margin-top: 10px;
  li {
    display: inline-block;
    margin-left: 40px;
    a {
      color: $primary_colour;
      position:relative;
      font-size: 32px;
      display:block;
      text-align:center;
      div {
        font-size:14px;
      }
      z-index: 10;
      &:hover{
        text-decoration:none;
        color: lightent($primary_colour, 20%);
      }
    }
  }
}

h2 {
  text-align:left;
  text-transform: uppercase;
  font-size: 24px;
  margin:0;
}

footer {
  color:#ccc;
  text-align:center;
  margin-top: 40px;
}
