
$base_text_colour:#00413d;
$error_colour:#c1272d;
$notice_colour:#336600;
$light_grey: #f8f8f8;
$grey: #ccc;

@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "bootstrap";
@import "font-awesome";
@import "message_box";
@import "posts";
@import "dropzone";
@import "wysiwyg";

body {
  position:relative;
  font-family: "Andale Mono", AndaleMono, monospace;
  padding: 20px;
}
nav {
  display:inline-block;
  margin-left: 50px;
  li {
    display: inline-block;
    margin-left: 40px;
    a {
      position:relative;
      color:#02103f;
      font-size: 32px;
      display:block;
      text-align:center;
      div {
        font-size:14px;
      }
      z-index: 10;
      &:hover{
        text-decoration:none;
        // color:#fff;
      }
    }
  }
}

h2 {
  text-align:left;
  text-transform: uppercase;
  font-size: 24px;
  margin:0;
}

footer {
  color:#ccc;
  text-align:center;
}
