%table
  %tbody
    - @images.each_slice(4) do |images_row|
      %ul.thumbnails
        - images_row.each do |image|
          %li.span2
            %a.thumbnail{href: '#'}
              = image_tag image.file.thumb.url
