<!DOCTYPE html>
<html>
<head>
  <title>TinyRobotArmy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ol class="unstyled">
      <li>
        <a href="/" title="Home">
          <i class="icon-home"></i>
          <div>Home</div>
        </a>
      </li>
      <li>
        <a href="/contact" title="Contact">
          <i class="icon-envelope"></i>
          <div>Contact</div>
        </a>
      </li>
      <li style="display:none;">
        <a href="#" title="Blog">
          <i class="icon-edit"></i>
          <div>Blog</div>
        </a>
      </li>
    </ol>
  </nav>
<%= yield %>
<footer>
  &copy; 2011 - 2012 Tiny Robot Army
</footer>
</body>
</html>
